<div class="container">
  <header class = "jumbotron">
    <h1>Climbing Blog</h1>
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'about'}}Its all about the journey, son!{{/link-to}}
    {{#link-to 'contact'}}Find us!!{{/link-to}}

  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
