
<h1>Great Climbs!</h1>
<div class="newClimb">
  {{new-climb saveClimb2="saveClimb3"}}

</div>

<ul>
  {{#each model as | climb|}}
    <div class="jumbotron">
    {{climb-tile climb=climb update="update" destroyclimb="destroyclimb"}}
    </div>
  {{/each}}


</ul>
