
<h1>Great Climbs!</h1>


<ul>
  {{#each model as | climb|}}
    <div class="jumbotron">
      <li>{{climb.name}}{{climb.location}} <img src="{{climb.image}}" alt="{{climb.type}}" /></li>
    </div>
  {{/each}}
</ul>
